<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JavaService</display-name>
  

  <servlet>
	<servlet-name>UpLoadFileService</servlet-name>
	<servlet-class>gaia.servlet.FileUpLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>UpLoadFileService</servlet-name>
	<url-pattern>/uploadservice</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ManagementServlet</servlet-name>
  	<servlet-class>gaia.servlet.ManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ManagementServlet</servlet-name>
  	<url-pattern>/UserManagement</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>KYCServlet</servlet-name>
  	<servlet-class>gaia.servlet.KYCServlet</servlet-class>
  </servlet>

  
  <servlet-mapping>
  	<servlet-name>KYCServlet</servlet-name>
  	<url-pattern>/KYCServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>KYCSuccessServlet</servlet-name>
  	<servlet-class>gaia.servlet.KYCSuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>KYCSuccessServlet</servlet-name>
  	<url-pattern>/KYCSuccessServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
  	<welcome-file>usermanagement.jsp</welcome-file>
  </welcome-file-list>
</web-app>